# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Virtual environment
venv/
.env/

# Build
build/
dist/
*.spec
*.exe

# Data
*.csv

# Excel output
*.xlsx

# Exceptions
!sample_top.csv
!sample_bot.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db